extends layout/template

block vars
	- var pageName = "base";
	- var pageTitle = "Прокат сноубордов и горных лыж Санкт-Петербурге";
	- var pageDescription = 'Прокат горнолыжного оборудования для активного отдыха: сноуборды, горные лыжи, амуниция.';
	- var pageImage = "img/share.jpg";
	- var pageUrl = "http://prokatozerki.ru";

block head

block content
	//-include content/__examples_form
	//-include content/__examples_drugndrop

	section.welcome
		.inner
			.welcome__address
				.welcome__address-title Наш адрес:
				.welcome__address-text Спб, метро "Озерки" #[br]пр.Энгельса, д.109, корпус 2

			.welcome__info
				.welcome__info-title Ищете экипировку для&nbsp;покатушек?
				.welcome__info-text Наша компания предлагает первоклассное оборудование ведущих фирм производителей.

		.welcome__bg

	section.brands
		.inner
			.brands__list
				.brands__item: .brands__item-inner: img(src='../img/brands/Burton.svg')
				.brands__item: .brands__item-inner: img(src='../img/brands/Fisher.svg')
				.brands__item: .brands__item-inner: img(src='../img/brands/Atomic.svg')
				.brands__item: .brands__item-inner: img(src='../img/brands/Head.svg')
				.brands__item: .brands__item-inner: img(src='../img/brands/Rossicnol.svg')
				.brands__item: .brands__item-inner: img(src='../img/brands/Salomon.svg')


	.anchor#price
	section.rent

		.inner
			.rent__graph.rent__graph_1: .js-graph: img(src="../img/graph_helmet.png")
			.rent__graph.rent__graph_2: .js-graph: img(src="../img/graph_mount_l.png")

			.rent__title Стоимость проката
			.rent__legend
				.rent__legend-item
					.rent__legend-ico: img(src='../img/svg/ico-day.svg')
					.rent__legend-title Как считаются сутки:
					.rent__legend-text с момента когда клиент взял оборудование и&nbsp;до&nbsp;конца следующего рабочего дня
				.rent__legend-item
					.rent__legend-ico: img(src='../img/svg/ico-sale.svg')
					.rent__legend-title Скидки по будням:
					.rent__legend-text с понедельника по&nbsp;четверг, в&nbsp;рабочие дни, 400руб. любой комплект в&nbsp;сутки


			.rent__table
				.rent__table-left
					.rent__table-title Прокат сноубордов и&nbsp;горных лыж
					.rent__table-group
						.rent__table-group-title Условия проката:
						.rent__table-group-inner
							p Залог 5000 рублей
							p: i или
							p 1000 рублей и&nbsp;документ удостоверяющий личность
				.rent__table-right
					.rent__table-group
						.rent__table-group-title В прокат выдаются
						.rent__table-group-inner
							.rent__table-group-text
								p Горнолыжный комплект
								p: i Лыжи, палки, ботинки, крепления.
							.rent__table-group-images
								p.only-mobile: img(src="../img/rent/snows_mobile.jpg")
								p.not-mobile: img(src="../img/rent/snows.jpg")

							.rent__table-group-text
								p Горнолыжный комплект
								p: i Лыжи, палки, ботинки, крепления.
							.rent__table-group-images
								.rent__table-image
									p.only-mobile: img(src="../img/rent/snowboard_mobile.jpg")
									p.not-mobile: img(src="../img/rent/snowboard.jpg")

					.rent__table-group
						.rent__table-group-title Стоимость
						.rent__table-group-inner
							.table
								table
									tr
										td: i Сутки
										td 1
										td 2
										td 3
										td 4
										td 5
										td 6
										td 7
										td 8
										td 9
										td 10
										td 15
										td 20
										td 30
									tr
										td: i Стоимость&nbsp;#[span.c-yellow *]
										td: b 500
										td: b 900
										td: b 1100
										td: b 1400
										td: b 1600
										td: b 1750
										td: b 1900
										td: b 2100
										td: b 2300
										td: b 2500
										td: b 3000
										td: b 3500
										td: b 4000
							p.note: i.c-yellow * Цена указана за&nbsp;единицу снаряжения

			.rent__table
				.rent__table-left
					.rent__table-title Прокат горнолыжной одежды
					.rent__table-group
						.rent__table-group-title Условия проката
						.rent__table-group-inner Залог 1000 рублей за единицу
				.rent__table-right
					.rent__table-group
						.rent__table-group-title В прокат выдаются
						.rent__table-group-inner

							.rent__table-group-text.not-mobile
								p В прокат выдаются:
							.rent__table-group-images.rent__table-group-images_list
								.rent__table-image
									.name
										span.num 1
										i Костюм
									.img: img(src="../img/rent/01.jpg")
								.rent__table-image
									.name
										span.num 2
										i Куртки
									.img: img(src="../img/rent/02.jpg")
								.rent__table-image
									.name
										span.num 3
										i Штаны
									.img: img(src="../img/rent/03.jpg")
								.rent__table-image
									.name
										span.num 4
										i Перчатки
									.img: img(src="../img/rent/04.jpg")
								.rent__table-image
									.name
										//-span.num 5
										i Балаклавы
									.img: img(src="../img/rent/05.jpg")


					.rent__table-group
						.rent__table-group-title Стоимость
						.rent__table-group-inner
							.table
								table
									tr
										td: i Сутки
										td 1
										td 2
										td 3
										td 4
										td 5
										td 6
										td 7
										td 8
										td 9
										td 10
										td 15
										td 20
										td 30
									tr
										td
											span.num 1
											i Костюм
										td: b 600
										td: b 1000
										td: b 1300
										td: b 1600
										td: b 1900
										td: b 2100
										td: b 2300
										td: b 2600
										td: b 2800
										td: b 3000
										td: b 3600
										td: b 4200
										td: b 4800
									tr
										td
											span.num 2
											i Куртка #[br]
											i или #[br]
											span.num 3
											i штаны
										td: b 300
										td: b 500
										td: b 650
										td: b 800
										td: b 950
										td: b 1050
										td: b 1150
										td: b 1300
										td: b 1400
										td: b 1500
										td: b 1800
										td: b 2100
										td: b 2400
									tr
										td
											span.num 4
											i Перчатки
										td: b 150
										td: b 250
										td: b 350
										td: b 400
										td: b 450
										td: b 500
										td: b 550
										td: b 600
										td: b 700
										td: b 750
										td: b 850
										td: b 1050
										td: b 1200

							p.note: i.c-yellow Цена указана за&nbsp;единицу снаряжения

			.rent__table
				.rent__table-left
					.rent__table-title Прокат защитного оборудования
					.rent__table-group
						.rent__table-group-title Условия проката
						.rent__table-group-inner Залог 1000 рублей за единицу
				.rent__table-right
					.rent__table-group
						.rent__table-group-title В прокат выдаются
						.rent__table-group-inner

							.rent__table-group-text.not-mobile
								p В прокат выдаются:
							.rent__table-group-images.rent__table-group-images_list
								.rent__table-image
									.name
										i Защита спины
									.img: img(src="../img/rent/11.jpg")
								.rent__table-image
									.name
										i Шорты
									.img: img(src="../img/rent/12.jpg")
								.rent__table-image
									.name
										i Шлема
									.img: img(src="../img/rent/13.jpg")
								.rent__table-image
									.name
										i Маски
									.img: img(src="../img/rent/14.jpg")
								.rent__table-image
									.name
										i Защита запястий, колен, логтей
									.img: img(src="../img/rent/15.jpg")

					.rent__table-group
						.rent__table-group-title Стоимость
						.rent__table-group-inner
							.table
								table
									tr
										td: i Сутки
										td 1
										td 2
										td 3
										td 4
										td 5
										td 6
										td 7
										td 8
										td 9
										td 10
										td 15
										td 20
										td 30
									tr
										td: i Стоимость&nbsp;#[span.c-yellow *]
										td: b 150
										td: b 250
										td: b 350
										td: b 400
										td: b 450
										td: b 500
										td: b 550
										td: b 600
										td: b 700
										td: b 750
										td: b 850
										td: b 1050
										td: b 1200
							p.note: i.c-yellow * Цена указана за&nbsp;единицу снаряжения

	section.advantages
		.inner
			.advantages__list
				.advantages__item: .advantages__item-inner: span Низкие цены
				.advantages__item: .advantages__item-inner: span Самое удобное #[br]расположение
				.advantages__item: .advantages__item-inner: span Большой выбор #[br]снаряжения
				.advantages__item: .advantages__item-inner: span Профессиональный #[br]и&nbsp;приветливый персонал

	.anchor#service
	section.service
		.inner
			.service__title сервис лыж и&nbsp;сноубордов
			.service__text Мы предоставляем профессиональные услуги сервиса лыж и сноубордов. Подготовка скользящей поверхности, заточка и ремонт на специализированном оборудовании. Наши мастера, имея большой опыт, смогут выполнить работу на профессиональном уровне.
			.service__scheme
				.service__scheme-image: img(src='../img/ski.png')
				.service__scheme-item.service__scheme-item_1
					.service__scheme-leader
					.service__scheme-name Нанесение парафина
					.service__scheme-price от 500 руб.
				.service__scheme-item.service__scheme-item_2
					.service__scheme-leader
					.service__scheme-name Заточка кантов
					.service__scheme-price от 500 руб.

	.anchor#contacts
	section.contact
		.inner
			.contact__title Как нас найти #[br.only-desktop]в #[span Санкт-Петербурге]
		.contact__map
			.contact__map-layout(data-map="60.032272, 30.322400")
			.inner
				.contact__map-info
					.contact__map-title
						i.ico: img(src='../img/svg/ico-address.svg')
						span Адрес:
					.contact__map-text Спб, метро "Озерки" пр.Энгельса, д.109, корпус&nbsp;2
					.contact__map-btn
						a(href='https://yandex.ru/maps/-/CBVEYOBVxC', target="_blank").btn Маршрут на Яндекс.Картах
					.contact__map-title
						i.ico: img(src='../img/svg/ico-phone.svg')
						span Телефон:
					.contact__map-text
						p +7 (812) 649-01-52
						p +7 (963) 326-70-42
						p +7 (965) 781-20-29
					.contact__map-title
						i.ico: img(src='../img/svg/ico-clock.svg')
						span График работы:
					.contact__map-text
						p пн-пт: с 10:00 до 20:00
						p сб-вс: с 9:00 до 22:00








block append
