footer.footer
	.footer__graph: img(src="../img/graph_mount_r.png")
	.inner
		.footer__logo
			.footer__logo-image: img(src="../img/svg/logo.svg")
			.footer__logo-text Прокат экипировки, #[br]горных лыж и сноубордов.
		.footer__phone
			i.ico: img(src="../img/svg/ico-phone.svg")
			span +7 (812) 649-01-52

