header.header
	.inner
		.header__logo
			.header__logo-image: img(src="../img/svg/logo.svg")
			.header__logo-text Прокат экипировки, #[br]горных лыж и сноубордов.
		.header__menu
			.header__menu-list
				a.header__menu-item(href='#price', data-section='rent') Стоимость
				a.header__menu-item(href='#service', data-section='service') Сервис
				a.header__menu-item(href='#contacts', data-section='contact') Контакты
			include footer
		.header__phone
			i.ico: img(src="../img/svg/ico-phone.svg")
			span +7 (812) 649-01-52

		.header__handler