


.drugndrop {
	padding: 20px;

	&__box{

		display: block;
		min-height: 200px;
		background: rgba(255,0,0,0.3);
		border-radius: 5px;
		margin-bottom: 20px;
		border: 2px dashed transparent;

		.is-drug-over &{
			border-color: red;
		}

		&.is-drugndrop{
			border-color: red;
			border-style: solid;
		}
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		padding: 0 10px 10px;
		box-sizing: border-box;
		width: 25%;
		position: relative;

		&-inner{
			background: #609d52;
			border-radius: 5px;
			font-size: 14px;

			img{
				max-width: 100%;
			}
		}

		&-image{
			text-align: center;

			img{
				max-height: 100px;
			}
		}

		&-remove{
			position: absolute;
			right: 10px;
			display: inline-block;
			top: 10px;
			width: 20px;
			height: 20px;
			z-index: 1;
			cursor: pointer;
			background: $colorBlue no-repeat 50% 50%;
			color: #fff;
			line-height: 20px;
			text-align: center;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30.1px' height='30.1px' viewBox='0 0 30.1 30.1'%3E%3Cpolygon fill='%23fff' points='30.1,3.9 26.1,0 15,11.1 3.9,0 0,3.9 11.1,15 0,26.1 3.9,30.1 15,19 26.1,30.1 30.1,26.1 19,15 '/%3E%3C/svg%3E%0A");
			background-size: 80%;
		}

	}

	progress {
		position: absolute;
		width: 0;
		height: 0;
		overflow: hidden;
		opacity: 0;
		pointer-events: none;

		@for $i from 0 through 100 {
			&[value="#{$i}"] {
				& + .drugndrop__progress .drugndrop__progress-value:before { content : '#{$i}%' }
				& ~ .drugndrop__progress .drugndrop__progress-bar { width: $i * 1% }
			}
		}

		&[value="0"]{
			& ~ .drugndrop__progress{
				opacity: 0;
				transform: scale(0.5);
			}
		}

		&[value="100"]{
			& ~ .drugndrop__progress{
				opacity: 0;
				transform: scale(0.5);
			}
		}
	}

	&__progress{
		background: #e6e9ed;
		position: relative;
		height: 8px;
		border-radius: 5px;
		opacity: 1;
		transform: scale(1);
		transition: all 0.5s ease;

		 &-bar{
			 overflow: hidden;
			 background: #ac92ec;
			 width: 0;
			 height: 100%;
			 position: absolute;
			 top: 0;
			 left: 0;
			 transition: width 0.2s linear;
			 border-radius: 10px;

			 &:after{
				 background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
				 background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
				 background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
				 -webkit-background-size: 40px 40px;
				 background-size: 40px 40px;
				 position: absolute;
				 content: '';
				 top: 0;
				 left: 0;
				 width: 100%;
				 height: 100%;
				 animation: progress_bar 0.8s linear infinite;
			 }
		 }

		 &-value{
			 color: #333;
			 display: block;
			 line-height: 21px;
			 text-align: center;
			 border-radius: 10px;

			 &:before{
				 content: '0%';
				 position: absolute;
				 bottom: 100%;
				 left: 0;
				 right: 0;
				 text-align: center;
			 }
		 }
	 }

	&__list{
		font-size: 0;
		padding: 10px;
		border: 2px dashed rgba(0, 231, 15, 0.3);
		border-radius: 5px;

	}



}


@keyframes progress_bar {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -40px 0;
	}
}