@import url('https://fonts.googleapis.com/css?family=Roboto|Vollkorn:400i,400,600&subset=cyrillic');


@font-face {
	font-family: 'RUSBoycott';
	src: url('../fonts/RUSBoycott/RUSBoycott.eot');
	src: local('☺'),
	url('../fonts/RUSBoycott/RUSBoycott.woff') format('woff'),
	url('../fonts/RUSBoycott/RUSBoycott.ttf') format('truetype'),
	url('../fonts/RUSBoycott/RUSBoycott.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}