

html {
	height: 100%;
}

body {
	font-family: $fontMain;
	font-size: 16px;
	width: 100%;
	height: 100%;
	line-height: 1.4;

	&.show-menu{
		@include breakPoint(0, $breakPointTablet){
			overflow: hidden;
		}
	}
}

.wrapper{
	overflow: hidden;
}

.inner{
	margin: 0 20px;
	position: relative;
	min-height: 1px;

	@include breakPoint($breakPointTablet){
		width: 686px;
		margin: 0 auto;
	}

	@include breakPoint($breakPoint){
		width: 1160px;
		margin: 0 auto;
	}

	@include breakPoint($breakPointHD){
		width: 1400px;
		margin: 0 auto;
	}
}

.btn{
	cursor: pointer;
}


.website {

}




.only{
	&-mobile{
		@include breakPoint($breakPointTablet){
			display: none!important;
		}
	}
	&-desktop{
		@include breakPoint(0, $breakPointTablet){
			display: none!important;
		}
	}
}

.not{
	&-mobile{
		@include breakPoint(0, $breakPointTablet){
			display: none!important;
		}
	}
	&-desktop{
		@include breakPoint($breakPointTablet){
			display: none!important;
		}
	}
}

.is-hidden{
	display: none !important;
}

.slick{
	&-slide{

	}

	&-list{

	}

	&-arrow{

		&_prev{
			left: 0;
		}

		&_next{
			right: 0;
		}

	}


	&-dots{


		li{

		}

		button{

		}


		.slick-active{
			button{

			}
		}
	}
}


[data-tab-target]{
	position: absolute;
	z-index: -1;
	pointer-events: none;

	&.is-active{
		position: static;
		z-index: auto;
		pointer-events: all;
	}
}

[data-tab-link]{
	cursor: pointer;
}


nobr{
	white-space: nowrap;
}

