

img{
	max-width: 100%;
}

svg{
	width: 100%;
	height: 100%;
}

.anchor{
	position: relative;
	height: 5px;
	margin-bottom: -5px;
	top: -60px;

	@include breakPoint($breakPoint){
		top: -100px;
	}
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: url("../../img/header_bg.png") 50% 0 repeat-x;
	background-size: auto 100%;
	height: 60px;
	z-index: 5;

	@include breakPoint($breakPointTablet){
		height: 80px;
	}

	@include breakPoint($breakPoint){
		height: 100px;
	}

	&__logo{
		position: absolute;
		top: 12px;
		left: 0;
		z-index: 1;

		@include breakPoint($breakPointTablet){
			top: 20px;
		}

		&-image{
			width: 188px;
			height: 34px;

			@include breakPoint($breakPointTablet){
				width: 235px;
				height: 42px;
			}
			@include breakPoint($breakPoint){
				width: 188px;
				height: 34px;
				display: inline-block;
				vertical-align: middle;
			}
			@include breakPoint($breakPointTablet){
				width: 235px;
				height: 42px;
			}

			svg{
				width: 100%;
				height: 100%;
			}
		}
		&-text{
			display: none;

			@include breakPoint($breakPoint){
				display: inline-block;
				vertical-align: middle;
				font-size: 16px;
				line-height: 1;
				color: #fff;
				opacity: 0.8;
				font-style: italic;
				margin-left: 20px;
			}

			@include breakPoint($breakPointHD){
				font-size: 18px;
			}
		}
	}

	&__menu{
		position: absolute;
		display: none;

		@include breakPoint(0, $breakPoint){

			.show-menu &{
				display: flex;
				flex-direction: column;
				overflow: auto;

				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: $colorBlue;
				text-align: center;
			}
		}

		@include breakPoint($breakPoint){
			display: block;
			position: absolute;
			top: 25px;
			right: 280px;
		}

		&-list{
			color: #fff;
			font-size: 36px;

			@include breakPoint(0, $breakPoint){
				font-family: $fontTitle;
				padding: 60px 0;
				flex-grow: 1;
			}

			@include breakPoint($breakPointTablet){;
				font-size: 70px;
				padding: 120px 0;
			}

			@include breakPoint($breakPoint){;
				font-size: 16px;
				padding: 0;
			}

			@include breakPoint($breakPointHD){
				font-size: 20px;
			}
		}

		&-item{
			margin: 40px 0;
			display: block;

			@include breakPoint($breakPoint){;
				margin: 0 25px;
				display: inline-block;
				vertical-align: middle;
			}

			&.is-active{
				color: $colorYellow;
			}
		}

		.footer{

			@include breakPoint($breakPoint){;
				display: none;
			}

			&__logo{

				@include breakPoint($breakPointTablet){;
					margin-bottom: 0;
				}
			}


			&__phone{

				@include breakPoint($breakPointTablet){;
					display: none;
				}
			}
		}
	}

	&__phone{
		position: absolute;
		font-size: 0;
		top: 13px;
		right: 46px;
		display: inline-block;

		@include breakPoint($breakPointTablet){
			font-size: 20px;
			color: #fff;
			top: 25px;
			right: 60px;
		}

		@include breakPoint($breakPoint){;
			font-size: 16px;
			right: 0;
		}

		.ico{
			display: inline-block;
			height: 26px;
			width: 26px;
			background: url("../../img/svg/ico-phone.svg") no-repeat 50% 50%;
			background-size: contain;
			vertical-align: middle;

			@include breakPoint($breakPointTablet){
				margin-top: -2px;
				margin-right: 13px;
			}
		}
	}

	&__handler{
		height: 28px;
		width: 28px;
		background: url("../../img/svg/ico-burger.svg") no-repeat 50% 50%;
		background-size: contain;
		position: absolute;
		top: 11px;
		right: 0;
		font-size: 0;
		display: inline-block;
		cursor: pointer;

		@include breakPoint($breakPointTablet){
			top: 25px;
		}

		@include breakPoint($breakPoint){;
			display: none;
		}


		.show-menu &{
			background-image: url("../../img/svg/ico-close.svg");
		}
	}
}

.welcome{
	background: $colorBlue;
	padding-top: 65px;
	position: relative;

	color: #fff;

	@include breakPoint($breakPointTablet){
		padding-top: 85px;
	}

	@include breakPoint($breakPoint){
		padding-top: 150px;
	}

	&:before{
		content: '';
		display:block;
		width: 100%;
		height: 100px;
		bottom: -2px;
		background: #fff;
		left: 0;
		position: absolute;

		@include breakPoint($breakPoint){
			height: 300px;
		}
	}

	&__address{

		background: $colorBlue;
		box-shadow: 0 0 6px rgba(0,0,0,0.2);
		border-radius: 10px;
		padding: 15px 15px 15px 45px;

		background: url("../../img/svg/ico-address.svg") no-repeat 11px 15px;
		background-size: 25px 25px;
		margin-bottom: 20px;
		box-sizing: border-box;

		max-width: 360px;

		@include breakPoint($breakPointTablet){
			margin-bottom: 60px;
			//max-width: 335px;
		}

		@include breakPoint($breakPoint){
			//max-width: 330px;
			margin-bottom: 120px;
			position: relative;
			z-index: 1;

			&:after{
				content: '';
				position: absolute;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: #fff;
				border: 4px solid $colorYellow;
				box-shadow: 0 0 0 4px rgba(#fff, 0.8);
				font-size: 16px;
				bottom: -55px;
				right: 0;
			}
		}



		&-title{
			font-family: $fontCoursive;
			color: rgba(#fff, 0.8);
			font-style: initial;
			font-size: 24px;

			@include breakPoint($breakPoint, $breakPointHD){
				font-size: 24px;
			}
		}

		&-text{
			font-size: 20px;
			line-height: 1.3;

			@include breakPoint($breakPoint, $breakPointHD){
				font-size: 18px;
			}
		}

	}
	&__info{
		max-width: 300px;
		position: relative;
		z-index: 1;

		@include breakPoint($breakPointTablet){
			max-width: 600px;
		}

		@include breakPoint($breakPoint){
			max-width: 480px;
		}

		@include breakPoint($breakPointHD){
			max-width: 600px;
		}


		&-title{
			font-family: $fontTitle;
			font-size: 36px;
			line-height: 1.27;
			margin-bottom: 20px;

			@include breakPoint($breakPointTablet){
				font-size: 70px;
			}

			@include breakPoint($breakPoint){
				font-size: 56px;
				color: #000;
			}

			@include breakPoint($breakPointHD){
				font-size: 70px;
			}
		}

		&-text{
			font-size: 16px;
			line-height: 1.5;

			@include breakPoint($breakPointTablet){
				font-size: 20px;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
				color: #585A5F;
			}

			@include breakPoint($breakPointHD){
				font-size: 20px;
			}
		}
	}

	&__bg{
		height: 320px;
		background: url("../../img/main.png") no-repeat 100% 0;
		background-size: cover;
		position: relative;

		@include breakPoint($breakPointTablet){
			height: 680px;
			margin-top: 0;
		}

		@include breakPoint($breakPoint){
			margin-top: -400px;
		}

		@include breakPoint($breakPointHD){
			height: 850px;
			margin-top: -450px;
		}
	}


}


.brands{
	font-size: 0;
	margin-top: -50px;
	overflow: hidden;
	margin-bottom: 50px;

	@include breakPoint($breakPointTablet){
		margin-top: -120px;
	}


	@include breakPoint($breakPoint){
		margin-top: -150px;
		margin-bottom: 130px;
	}

	@include breakPoint($breakPointHD){
		margin-top: -180px;
		margin-bottom: 100px;
	}


	&__item{
		display: inline-block;

		padding: 5px;
		box-sizing: border-box;

		@include breakPoint($breakPointTablet){

			padding: 8px;
		}

		@include breakPoint($breakPoint){

		}

		&-inner{
			width: 210px;
			height: 81px;
			box-shadow: 0 0 6px rgba(0,0,0,0.2);
			border-radius: 10px;
			background: #fff;
			text-align: center;


			@include breakPoint($breakPointTablet){
				width: 218px;
				height: 84px;
			}

			@include breakPoint($breakPoint){
				width: 180px;
				height: 70px;
			}


			@include breakPoint($breakPointHD){
				width: 220px;
				height: 85px;
			}

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			img{
				display: inline-block;
				vertical-align: middle;
				max-width: 90%;
				max-height: 90%;
			}
		}
	}


	.slick-list{
		overflow: visible;

		@include breakPoint($breakPoint){
			overflow: hidden;
		}
	}
	.slick-arrow{
		display: none;
		width: 20px;
		height: 20px;
		position: absolute;
		fill: $colorYellow;
		cursor: pointer;
		z-index: 1;
		top: 50%;
		margin-top: -10px;


		&_next{
			right: -20px;
		}

		&_prev{
			left: -20px;
		}

		@include breakPoint($breakPoint){
			display: block;
		}
	}



}




.rent{
	background: url("../../img/bg.png") no-repeat 50% 260px;
	background-size: 100% calc(90% - 260px);
	position: relative;

	@include breakPoint($breakPoint){;
		background-size: 100% calc(100% - 260px);
	}

	&__graph{
		display: none;
		pointer-events: none;

		@include breakPoint($breakPoint){;
			display: block;
			position: absolute;
			width: 200px;
			bottom: 0;
			z-index: 1;

			img{
				width: 100%;
			}
		}

		&_1{
			left: -150px;
			width: 230px;
			top: 55%;
		}

		&_2{
			right: -150px;
			width: 200px;
			top: 60%;
		}
	}

	&__title{
		font-family: $fontTitle;
		font-size: 36px;
		line-height: 1.27;
		margin-bottom: 20px;
		max-width: 300px;

		@include breakPoint($breakPointTablet){
			font-size: 70px;
			max-width: 100%;
		}

		@include breakPoint($breakPoint){
			font-size: 56px;
		}

		@include breakPoint($breakPointHD){
			font-size: 70px;
		}

	}


	&__legend{
		font-size: 0;

		&-item{
			overflow: hidden;
			margin-bottom: 17px;

			@include breakPoint($breakPoint){
				display: inline-block;
				box-sizing: border-box;
				padding-right: 20px;
				vertical-align: top;
				width: 50%;
				margin-bottom: 40px;
			}
		}

		&-ico{
			width: 50px;
			height: 50px;
			float: left;
			margin-top: 10px;
		}

		&-title{
			margin-left: 70px;
			font-family: $fontCoursive;
			font-style: italic;
			color: $colorYellow;
			font-size: 18px;

			@include breakPoint($breakPointTablet){
				font-size: 20px;
			}

			@include breakPoint($breakPoint){
				font-size: 18px;
			}

			@include breakPoint($breakPointHD){
				font-size: 20px;
			}
		}

		&-text{
			font-size: 16px;
			margin-left: 70px;
			line-height: 1.4;

			@include breakPoint($breakPointTablet){
				font-size: 18px;
				line-height: 1.2;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
			}

			@include breakPoint($breakPointHD){
				font-size: 18px;
			}
		}
	}



	&__table{
		border: 2px solid $colorYellow;
		border-radius: 10px;
		background: #fff;
		margin-bottom: 20px;

		@include breakPoint($breakPoint){
			display: flex;
			margin-bottom: 30px;
		}

		&-left{

			@include breakPoint($breakPoint){
				border-right: 1px solid $colorBorder;
				width: 25%;
				flex-basis: 25%;
			}

		}

		&-right{

			@include breakPoint($breakPoint){
				width: 75%;
				flex-basis: 75%;

				flex-grow: 1;

				.rent__table-group-inner{
					font-size: 0;
				}

				.rent__table-group-text{
					width: 30%;
					display: inline-block;
					vertical-align: top;
					//flex-basis: 33%;
				}

				.rent__table-group-images{
					width: 70%;
					display: inline-flex;
					vertical-align: top;
					//flex-basis: 67%;
				}
			}
		}

		&-title{
			padding: 20px 20px 15px;
			font-size: 22px;
			line-height: 1.1;

			@include breakPoint($breakPointHD){
				font-size: 28px;
			}
		}

		&-group{
			border-top: 1px solid $colorBorder;

			@include breakPoint($breakPoint){
				border: 0;

				&:last-child{
					.rent__table-group-inner{
						padding-bottom: 20px;
					}
				}
			}

			&-title{
				font-size: 16px;
				padding: 15px 50px 15px 20px;
				position: relative;
				cursor: pointer;

				@include breakPoint($breakPoint){
					color: $colorYellow;
					font-family: $fontCoursive;
					font-style: italic;

					.rent__table-right &{
						display: none;
					}
				}

				&:after{
					content: '';
					background: url("../../img/svg/ico-arrow_downdown.svg") no-repeat 50% 50%;
					background-size: contain;
					width: 20px;
					height: 20px;
					position: absolute;
					display: block;
					top: 17px;
					right: 20px;
					transition: all 0.3s ease;

					.is-open &{
						transform: rotate(180deg);
					}

					@include breakPoint($breakPoint){
						display: none;
					}
				}
			}

			&-inner{
				display: none;
				padding: 0 20px 15px;

				@include breakPoint($breakPoint){
					display: block;
					padding: 20px 20px 0;
				}

				.is-open &{
					display: block;
				}


				p{
					margin: 5px 0;
				}

				i{
					font-family: $fontCoursive;
					font-style: italic;
					color: $colorGrey;
				}

				b{
					//font-weight: 500;
				}
			}


			&-text{

				@include breakPoint($breakPoint){
					//display: inline-flex;
					//flex: 1 1 auto;
					//flex-wrap: wrap;
					font-size: 14px;
				}

				@include breakPoint($breakPointHD){
					font-size: 16px;
				}

			}

			&-images{

				font-size: 16px;


				@include breakPoint($breakPoint){
					font-size: 14px;
				}

				&_list{

					@include breakPoint($breakPoint){
						display: table;

						.rent__table-image{
							display: table-cell;
							width: 20%;
						}
					}

					.name{

						@include breakPoint($breakPoint){
							text-align: center;
							min-height: 40px;
						}
					}

					.img{
						//width: 220px;
						width: 150px;
						margin: 0 auto;
						max-width: 100%;


						@include breakPoint($breakPoint){
							//width: 100px;
							max-width: 80%;
						}
					}
				}
			}


			&-image{

			}

		}

		.note{
			padding-right: 100px;
			position: relative;
			min-height: 40px;
			line-height: 1.1;
			margin-top: 10px;
			font-size: 16px;


			@include breakPoint($breakPoint){
				font-size: 14px;
				min-height: 0;
				margin-top: 10px;
			}

			@include breakPoint($breakPointHD){
				margin-top: 20px;
			}

			&:after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 40px;
				height: 40px;
				background: url("../../img/svg/ico-scroll.svg") no-repeat 50% 50%;
				background-size: contain;

				@include breakPoint($breakPoint){
					display: none;
				}
			}
		}

		.table{
			overflow: auto;
			margin: 0 -20px;
			padding: 0 20px;

			@include breakPoint($breakPoint){
				font-size: 14px;
				overflow: visible;
				margin: 0;
				padding: 0;
			}

			@include breakPoint($breakPointHD){
				font-size: 16px;
			}

			table{
				width: 100%;
			}

			td{
				padding: 10px 20px;
				text-align: center;
				border-bottom: 1px solid $colorBorder;
				vertical-align: middle;
				line-height: 1.1;
				position: relative;

				@include breakPoint($breakPoint){
					padding: 15px 10px;
				}

				&:first-child{
					padding-left: 0;
					text-align: left;
				}

				&:last-child{
					padding-right: 0;
				}

				.num{
					margin-top: -2px;
				}
			}
		}


		&-image{


		}


		.num{
			display: inline-block;
			background: $colorYellow;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			text-align: center;
			line-height: 22px;
			color: #fff;
			font-size: 14px;
			position: absolute;
			//margin-top: -2px;

			& ~ i{
				padding-left: 25px;
				line-height: 1.1;
			}
		}
	}

}



.advantages{
	font-size: 0;
	overflow: hidden;
	margin: 40px 0;

	@include breakPoint($breakPoint){
		margin: 60px 0;
	}


	@include breakPoint($breakPointHD){
		margin: 100px 0;
	}

	&__item{
		display: inline-block;
		padding: 5px;
		box-sizing: border-box;

		@include breakPoint($breakPoint){
			padding: 8px;
		}

		&-inner{
			width: 210px;
			height: 81px;
			box-shadow: 0 0 6px rgba(0,0,0,0.2);
			border-radius: 10px;
			background: #fff;
			text-align: center;
			box-sizing: border-box;
			padding: 10px;

			@include breakPoint($breakPoint){
				width: 276px;
			}

			@include breakPoint($breakPointHD){
				width: 337px;
			}

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}


			span{
				display: inline-block;
				vertical-align: middle;
				font-size: 16px;
				text-align: left;
				position: relative;
				padding-left: 25px;
				font-family: $fontCoursive;
				font-weight: 600;
				line-height: 1.1;

				&:before{
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
					top: 50%;
					width: 10px;
					height: 26px;
					background: url("../../img/svg/line.svg") no-repeat 50% 50%;
					background-size: contain;
					transform: translate(0, -50%);
				}
			}
		}
	}


	.slick-list{
		overflow: visible;
	}
}







.service{
	overflow: hidden;

	&__title{

		font-family: $fontTitle;
		font-size: 36px;
		line-height: 1.27;
		margin-bottom: 20px;
		max-width: 300px;

		@include breakPoint($breakPointTablet){
			font-size: 70px;
			max-width: 100%;
		}

		@include breakPoint($breakPoint){
			font-size: 56px;
			max-width: 500px;
		}

		@include breakPoint($breakPointHD){
			font-size: 70px;
			max-width: 600px;
		}
	}

	&__text{
		font-size: 16px;
		line-height: 1.7;
		color: #474747;

		@include breakPoint($breakPointTablet){
			font-size: 20px;
		}

		@include breakPoint($breakPoint){
			font-size: 16px;
			max-width: 767px;
		}

		@include breakPoint($breakPointHD){
			font-size: 20px;
			max-width: 930px;
		}
	}

	&__scheme{
		width: 630px;
		position: relative;
		padding: 25px 0 45px;
		margin: 30px 0 70px -35px;

		@include breakPoint($breakPointTablet){
			width: 770px;
			padding: 0 0 30px;
			margin: 50px 0 100px -35px;
		}

		@include breakPoint($breakPoint){
			width: 1160px;
			margin: 0 0 100px 0;
		}

		@include breakPoint($breakPointHD){
			width: 1300px;
			margin: 0 0 100px 0;
		}

		&-image{
		}

		&-item{
			padding: 20px 30px;
			width: 278px;
			box-sizing: border-box;
			position: absolute;
			left: 35px;

			box-shadow: 0 0 6px rgba(0,0,0,0.2);
			border-radius: 10px;
			background: rgba(#fff, 0.9);

			@include breakPoint($breakPointTablet){
				left: 80px;
			}
			&_1{
				top: 0;

				@include breakPoint($breakPoint){
					left: 40px;
					top: 60px;
				}

				@include breakPoint($breakPointHD){
					top: 80px;
				}
			}

			&_2{
				bottom: 0;

				@include breakPoint($breakPoint){
					bottom: 34px;
				}

				@include breakPoint($breakPointHD){
					bottom: 52px;
					left: 125px;
				}
			}
		}

		&-leader{
			position: absolute;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: #fff;
			border: 4px solid $colorYellow;
			box-shadow: 0 0 0 4px rgba(#fff, 0.8);
			font-size: 16px;

			@include breakPoint($breakPointTablet){
				font-size: 18px;
			}

			.service__scheme-item_1 &{
				bottom: -56px;
				left: 140px;

				@include breakPoint($breakPoint){


				}
			}
			.service__scheme-item_2 &{
				top: -40px;
				left: 130px;

				@include breakPoint($breakPoint){


				}
			}
		}

		&-name{
			font-family: $fontCoursive;
			font-weight: 600;
		}
		&-price{
			color: $colorYellow
		}
	}

}



.contact{
	&__title{

		font-family: $fontTitle;
		font-size: 36px;
		line-height: 1.27;
		margin-bottom: 20px;
		max-width: 320px;

		@include breakPoint($breakPointTablet){
			font-size: 70px;
			max-width: 100%;
		}

		@include breakPoint($breakPoint){
			font-size: 56px;
			max-width: 600px;
		}
		@include breakPoint($breakPointHD){
			font-size: 70px;
			max-width: 700px;
		}


		span{
			color: $colorYellow;
		}
	}

	&__map{
		background: $colorGrey;
		position: relative;
		padding: 70px 0 545px;
		margin-top: -20px;

		@include breakPoint($breakPointTablet){
			padding-bottom: 200px;
		}

		@include breakPoint($breakPoint){
			padding-bottom: 80px;
		}


		.inner{
			pointer-events: none;
		}

		&:after{
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			right: 0;
			top: -5px;
			height: 50px;
			background: url("../../img/svg/adress_bg_top.svg") repeat-x 0 50%;
			background-size: auto 100%;
		}

		&-layout{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

		}

		&-info{
			padding: 30px;
			position: relative;
			box-sizing: border-box;

			box-shadow: 0 0 6px rgba(0,0,0,0.2);
			border-radius: 10px;
			background: #fff;

			max-width: 456px;
			pointer-events: all;

		}

		&-title{
			padding-left: 26px;
			margin-bottom: 10px;
			font-family: $fontCoursive;
			font-style: italic;
			color: $colorGrey;
			font-size: 16px;
			position: relative;
			margin-top: 26px;

			@include breakPoint($breakPointTablet){
				font-size: 18px;
				padding-left: 36px;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
				padding-left: 26px;
			}

			@include breakPoint($breakPointHD){
				font-size: 18px;
				padding-left: 26px;
			}

			&:first-child{
				margin-top: 0;
			}

			.ico{
				width: 20px;
				height: 20px;
				position: absolute;
				top: -2px;
				left: -3px;

				@include breakPoint($breakPointTablet){
					width: 26px;
					height: 26px;
				}

				@include breakPoint($breakPoint){
					width: 20px;
					height: 20px;
				}
			}
		}

		&-text{

			font-size: 18px;

			@include breakPoint($breakPointTablet){
				font-size: 20px;
			}

			@include breakPoint($breakPoint){
				font-size: 16px;
			}

			@include breakPoint($breakPointHD){
				font-size: 20px;
			}
		}

		&-btn{
			margin-top: 20px;

			.btn{
				cursor: pointer;
				display: inline-block;
				color: #fff;
				font-size: 14px;
				background: $colorYellow;
				border-radius: 6px;
				padding: 17px 28px 16px;

				@include breakPoint($breakPoint){
					padding: 13px 28px 12px;
				}
			}
		}
	}
}





.footer{
	color: #fff;
	text-align: center;
	background: $colorBlue;
	position: relative;
	padding-bottom: 20px;

	@include breakPoint($breakPointTablet){;
		padding-bottom: 30px;
	}

	@include breakPoint($breakPoint){;
		padding-top: 20px;

	}

	.inner{

		@include breakPoint($breakPoint){;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&:before{
		content: '';
		display: inline-block;
		height: 50px;
		position: absolute;
		top: -25px;
		left: 0;
		right: 0;
		background: url("../../img/footer_bg.png") repeat-x 50% 0;
		background-size: auto 100%;
	}

	&__graph{
		display: none;
		pointer-events: none;

		@include breakPoint($breakPoint){;
			display: block;
			position: absolute;
			width: 240px;
			left: 50%;
			bottom: 0;

			img{
				width: 100%;
			}
		}

	}

	&__logo{
		margin-bottom: 22px;

		@include breakPoint($breakPointTablet){;
			margin-bottom: 15px;
		}

		@include breakPoint($breakPoint){;
			margin-bottom: 0;

		}

		&-image{
			width: 188px;
			height: 34px;
			margin: 0 auto 7px;

			@include breakPoint($breakPointTablet){
				width: 235px;
				height: 42px;
				display: inline-block;
				vertical-align: middle;
			}
		}
		&-text{
			font-size: 12px;
			font-style: italic;
			opacity: 0.8;

			@include breakPoint($breakPointTablet){
				display: inline-block;
				vertical-align: middle;
				text-align: left;
				margin-left: 40px;
			}
		}
	}
	&__phone{
		height: 16px;

		.ico{
			display: inline-block;
			vertical-align: middle;
			width: 24px;
			height: 24px;
			margin-right: 10px;
		}

		span{
			display: inline-block;
			vertical-align: middle;
		}
	}
}



