$popupZIndex: 100;
$popupOverlayColor: rgba(#dedede, 0.9) !default;

.popup {

	display: none;

	&.is-open {
		display: block !important;
	}

	&__overlay {
		background-color: $popupOverlayColor;
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
	}

	&__inner {
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		display: block;
		background: transparent;
		overflow-y: scroll;
		font-size: 0;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout {
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		width: 100%;
		max-width: 750px;
		min-height: 100px;
		text-align: left;
		font-size: 16px;
		border-radius: 8px;
	}

	&__close {
		width: 28px;
		height: 28px;
		position: absolute;
		cursor: pointer;
		top: 19px;
		right: 19px;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			background: #555;
			height: 4px;
			width: 30px;
			margin-top: -2px;
			margin-left: -15px;
			border-radius: 10px;

		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}

		&:hover {

		}
	}

	&__title{
		font-size: 26px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 40px;

		@include breakPoint($breakPoint){
			font-size: 18px;
		}
	}

	&__text{
		font-size: 24px;

		p{
			margin: 15px 0;
		}

		@include breakPoint($breakPoint){
			font-size: 16px;
		}
	}

	&__btn{
		margin-top: 50px;
	}

	&_info{

		.popup__close{
			display: none;
		}

		.popup__content{
			padding: 100px 60px;
			text-align: center;


			@include breakPoint($breakPoint){
				padding: 100px 98px;
			}
		}
	}

}
