$fontTitle: 'RUSBoycott', sans-serif;
$fontMain: 'Roboto', sans-serif;
$fontCoursive: 'Vollkorn', sans-serif;
$breakPointTablet: 760px;
$breakPoint: 1200px;
$breakPointHD: 1440px;


$colorBlue: #0045c4;
$colorYellow: #FFB81F;
$colorRed: #ff0042;
$colorBlack: #000;
$colorGrey: #A7A7A7;
$colorBorder: #ccc;


.c{
	&-yellow{
		color: $colorYellow !important;
	}

	&-blue{
		color: $colorBlue !important;;
	}
	&-red{
		color: $colorRed !important;;
	}
}
